<?xml version="1.0"?>
<model>
  <name>SmallHaulerRover</name>
  <version>1.0</version>
  <sdf version="1.5">small_hauler.sdf</sdf>

  <author>
    <name>srcp2-dev</name>
    <email>redacted.redacted@nasa.gov</email>
  </author>

  <description>
    Small hauler rover mark for the Space Robotics Challenge (Phase 2), Final Rounds
    Copyright (c) 2020, NASA-JSC. All Rights Reserved.
    Unauthorized Distribution Strictly Prohibited
  </description>
</model>
