<?xml version="1.0"?>
<model>
  <name>qa_terrain_mesh</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>srcp2-dev</name>
    <email>redacted.redacted@nasa.gov</email>
  </author>

  <description>
    Default Final Round Heightmap for testing and devlopment
  </description>
</model>
