<?xml version="1.0"?>
<!--
	Space Robotics Challenge (2): Final Round
	NASA-JSC
	Copyright (c) 2019, All Rights Reserved
	Unauthorized distribution strictly prohibited
-->
<model>
  <name>Processing Plant</name>
  <version>2.0</version>
  <sdf version="1.6">processing_plant.sdf</sdf>

  <author>
    <name>NASA-JSC</name>
    <email>redacted@redacted.redacted</email>
  </author>

  <description>
  This is the processing plant lander used in the final rounds. It has few moving
  parts and is largely a NPC. However, it does govern final scoring and 
  controls the volatile processing hopper.

  It is a static model without inertia
  </description>
</model>
