<?xml version="1.0"?>
<launch>
<!--  <include file="$(find test_pkg)/launch/setup.launch"></include>-->

  <node pkg="test_pkg" type="round" name="round"  output="screen"></node>

  <node pkg="tf" type="static_transform_publisher" name="map_nav_broadcaster" args="0 0 0 0 0 0  small_scout_1_base_footprint odom 100"/>
</launch>
