<?xml version="1.0"?>
<!--
	Space Robotics Challenge Phase 2
	NASA-JSC
	Copyright (c) 2020, All Rights Reserved
	Unauthorized distribution strictly prohibited
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <!--
       large rover chassis and all related constants
    -->
    <xacro:macro name="large_rover_chassis" params="rover_name">
        <xacro:include filename="../common/universal_chassis.xacro"/>
        
        <xacro:property name="chassis_collision_x" value="1.5"/>
        <xacro:property name="chassis_collision_y" value="1.6"/>
        <xacro:property name="chassis_collision_z" value="0.4"/>

        <xacro:universal_chassis
            name = "large_chassis"
            mass = "150.0"
            dae_path   = "meshes/rovers/large_basic/chassis.dae"
            visual_xyz = "0 0 0"
            visual_rpy = "0 0 -${pi/2}"
            visual_scale = "0.2 0.2 0.2" />

    </xacro:macro>
</robot>