<?xml version="1.0"?>
<model>
  <name>srcp2_models_final</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>srcp2-dev</name>
    <email>redacted.redacted@nasa.gov</email>
  </author>

  <description>
        All the models for the final round. This file is Gazebo book-keeping
  </description>
</model>
