<?xml version="1.0"?>
<!--
	Space Robotics Challenge (2)
	NASA-JSC
	Copyright (c) 2019, All Rights Reserved
	Unauthorized distribution strictly prohibited

	Charging bot for simulating a charging station
-->
<robot name="simple_robot" 
	xmlns:xacro="http://www.ros.org/wiki/xacro">

	<!-- _______________________________________________________________________________________________________________
         General Includes
    -->
	<!-- Load the base testing robot-->
	<xacro:include filename="../common/simple_robot.xacro" />

	<!-- Custom Plugins -->
	<xacro:include filename="charging_bot.gazebo" />
	<!-- charging port for simulating charging -->
	<xacro:include filename="charging_port.xacro" />

	<charging_port link_name="charging_link"/>


</robot>
